<h2>Nova Transportadora</h2>

<%if (@company.errors.any?)%> 
    <p>Verifique os erros abaixo:</p>
    <ul>
        <%@company.errors.full_messages.each do |msg|%>
            <li><%=msg%>.</li>
        <%end%>
    </ul>
<%end%>

<%= render 'form'%>