table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
table th {
  border: 1px solid #ccc;
  text-align: center;
}
table td {
  border: 1px solid #ccc;
  text-align: center;
}
table .absorbing-column {
  width: 100%;
}